body {
  background:url(../../images/Portfolio.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-img {


  min-height: 380px;

}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100px
}

/* Navbar links */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

    
p {
  color: goldenrod;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20px;
  box-shadow: maroon;
  font-weight: 100px
  
}

.boxinfo {
  box-sizing: border-box;
  box-shadow: solid maroon;
  background-image: url(https://i.pinimg.com/originals/97/f0/ef/97f0efbaaec8acfc369f5403878bd6be.gif); 
  
  margin-top: 100px;
  margin-bottom: 100px;
  width: 1200px
  
  

}


  